<header class="header">
    <div class="header__logo">
        <img src="{{ asset('images/logo.png') }}" alt="">
    </div>
    <div class="header__nav header__nav--links">
        <ul>
            <li>
                <a href="">Nosotros</a>
            </li>
            <li>
                <a href="">Aprender</a>
            </li>
            <li>
                <a href="">Acciones</a>
            </li>
            <li>
                <a href="">Colaborar</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
            <li class="featured">
                <a href="">Donar</a>
            </li>
        </ul>
    </div>

    <div class="header__nav header__nav">
        <ul>
            <li>
                <a href="">
                    <img src="{{ asset('images/svg/facebook.svg') }}" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('images/svg/instagram.svg') }}" alt="">
                </a>
            </li>
        </ul>
    </div>
</header>