<section id="hero" class="hero">
    <div class="hero__image">
        <div class="hero__image__clouds">
            <img src="{{ asset('images/svg/clouds.svg') }}" alt="">
        </div>
        <div class="hero__image__tree">
            <img src="{{ asset('images/svg/tree.svg') }}" alt="">
        </div>
        <div class="hero__image__dog">
            <img src="{{ asset('images/svg/dog.svg') }}" alt="">
        </div>
        <div class="hero__image__zunzun">
            <img src="{{ asset('images/svg/zunzun.svg') }}" alt="">
        </div>

    </div>
    <div class="hero__content">
        <div class="hero__content__title">
            <h1>
                Cubanos en defensa
                <br>
                de los animales
            </h1>
        </div>
        <div class="hero__content__text">
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aut eius et impedit laboriosam, nobis nulla obcaecati
                officia similique suscipit temporibus!</h4>
        </div>

        <div class="hero__content__action">
            <a class="btn" href="#">Adopta</a>
        </div>
    </div>

</section>