<section id="us" class="section section--violet">
    <div class="section__title">
        <h2>¿Quienes Somos?</h2>
    </div>

    <div class="section__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ducimus numquam obcaecati pariatur totam, velit vero? A accusantium architecto asperiores commodi cum eligendi fuga, ipsam laboriosam nemo obcaecati omnis sapiente.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum excepturi explicabo facere hic ipsam libero magni minima molestias neque nesciunt nobis, odio optio possimus quasi sapiente sint totam unde.</p>

        <a class="btn btn--white" href="#">Contactanos</a>
    </div>

    <div class="section__image">
        <div class="section__image__decorator">
            <img src="{{ asset('images/svg/paw.svg') }}" data-sal="zoom-in" data-sal-delay="300" alt="">
        </div>

        <img src="{{ asset('images/section/6.jpg') }}" alt="">
    </div>
</section>